-----BEGIN CERTIFICATE-----
YXBpZnk+PTEuNy4wCiMgQW50aS1kZXRlY3Rpb24gbGlicmFyaWVzIC0gQkVTVCBm
b3IgYnlwYXNzaW5nIGJvdCBkZXRlY3Rpb24KdW5kZXRlY3RlZC1jaHJvbWVkcml2
ZXI+PTMuNS40CnNlbGVuaXVtPT00LjE1LjIKIyBIdW1hbi1saWtlIGJlaGF2aW9y
IGFuZCBmYWtlIGRhdGEgZ2VuZXJhdGlvbgpmYWtlcj49MjAuMC4wCiMgUGFyc2lu
ZyBsaWJyYXJpZXMKYmVhdXRpZnVsc291cDQ9PTQuMTIuMgpseG1sPT00LjkuMwoj
IEFkZGl0aW9uYWwgdXRpbGl0aWVzCnB5dGhvbi1kYXRldXRpbD49Mi44LjIK
-----END CERTIFICATE-----
